.box {
    text-align: center;
}

.img {
    width: 1000px;
}

.box2 {
    position: absolute;
    top: 0%;
    left: 65%;
}

.img2 {
    width: 100px;
}

.box3 {
    position: absolute;
    top: 2%;
    left: 57%;
    color: white;
    display: flex;
    align-items: center;
    text-indent: 20px;
}

.box4 {
    display: inline-flex;
    text-indent: 30px;
    position: absolute;
    top: 2%;
    left: 25%;
    color: white;
}

.box5 {
    position: absolute;
    top: 40%;
    left: 25%;
    color: white;
}

.box6 {
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 30%;
    color: white;
    padding: 5px;

}

.box7 {
    position: absolute;
    top: 70%;
    left: 25%;
    color: gray;
}

.box8 {
    display: inline-flex;
    text-indent: 30px;
    position: absolute;
    top: 80%;
    left: 24%;
    color: gray;
}

.cabrio {
    color: black;
}

.box9 {
    display: block;
    position: absolute;
    top: 80%;
    left: 20%;
}

.fila1 {
    margin: 140px;
}

.fila2 {
    margin: 140px;
}

.fila3 {
    margin: 140px;
}

.price {
    display: flex;
    text-indent: 200px;
    position: absolute;
    top: 28%;
}

.price1 {
    display: flex;
    text-indent: 200px;
    position: absolute;
    top: 57%;
}

.price2 {
    display: flex;
    text-indent: 200px;
    position: absolute;
    top: 87%;
}

.text {
    column-count: 3;
    text-indent: 230px;
    position: absolute;
    top: 31%;
}

.text1 {
    column-count: 3;
    text-indent: 230px;
    position: absolute;
    top: 60%;
}

.text2 {
    column-count: 3;
    text-indent: 230px;
    position: absolute;
    top: 90%;
}