.img {
    width: 250px;
}

.uno {
    position: absolute;
    left: 15%;
    top: 1%;
}

.dos {
    position: absolute;
    left: 15%;
    top: 18%;
}

.required {
    position: absolute;
    left: 15%;
}

.columna {
    column-count: 2;
}

.texto {
    position: relative;
    left: -15%;

}

.tres {
    position: absolute;
    left: 25%;
    top: 65%;
}