h1 {
    text-align: center;
}

.uno {
    display: flex;
    justify-content: center;
}

.dos {
    display: inline-flex;
    position: absolute;
    top: 2%;
    left: 20%;
}

.texto {
    position: absolute;
    left: 130%;
    color: gray;
}

.tres {
    position: absolute;
    top: 7%;
    left: 20%;
}

.texto2 {
    color: red;
}

.cuatro {
    column-count: 2;
    position: relative;
    top: 15%;
    left: 27%;
}

.cinco {
    position: absolute;
    top: 85%;
    text-align: center;
    left: 41%;
}